body {
    margin: 0; /* Elimina el margen por defecto */
    background-image: url(../img/cabe.png); /* Cambia a la ruta de tu imagen */
    background-size: cover; /* Cubre todo el espacio disponible */
    background-repeat: no-repeat; /* No repite la imagen */
    background-position: center; /* Centra la imagen en el fondo */
    height: 100%;
    color: #ffffff;
}

.header {
    position: fixed;
    background-image: url(../img/cabe.png);
    display: flex; /* Usamos flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre el login y el menú */
    align-items: center; /* Centra verticalmente */
    padding: 10px 20px; /* Espaciado interno */
    border-bottom: 2px solid #000000; /* Línea inferior */
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
    top: 0; /* Posición en la parte superior */
    left: 0; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
}

.login-button {
    padding: 10px 15px; /* Espaciado interno del botón */
    background-color: #c83f46; /* Color de fondo del botón */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-weight: 600;
    font-size: 20px;    
}

.login-button:hover {
    color: rgb(255, 255, 255); /* Cambia color del texto */
}

.navbar {
    display: flex; /* Alinea los menús en una fila */
    flex-grow: 1; /* Ocupa el espacio restante */
    justify-content: center; /* Centrar botones */
    gap: 80px; /* Espacio entre botones */
}

.nav-button {
    margin-left: 15px; /* Espacio entre los botones */
    padding: 10px 15px; /* Espaciado interno */
    background-color: transparent; /* Fondo transparente */
    border: 0;
    color: #ffffff; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave */
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;      
}

.nav-button:hover {
    color: #c83f46; /* Cambia color del texto */
}



.container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
    justify-content: center; /* Centra las tarjetas en la página */
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
}

.card-horizontal {
    display: flex; /* Para alinear la imagen y el contenido horizontalmente */
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px; /* Espacio entre tarjetas */
    width: calc(33.33% + 20px); /* Tres columnas */
    height: 200px; /* Altura fija para las tarjetas */
    position: relative; /* Para posicionar el botón de forma absoluta */
    box-sizing: border-box; /* Incluye el padding y border en el width */
    
}

.card-horizontal img {
    width: 200px; /* Ancho fijo para la imagen */
    height: auto; /* Mantiene la proporción */
    border-radius: 5px;
    object-fit: cover;
}

.card-content {

    flex: 1; /* Permite que el contenido ocupe el espacio restante */
    margin-left: 15px;
    margin-right: 5px;
    display: flex;
    flex-direction: column; /* Coloca elementos verticalmente */
    justify-content: space-between; /* Distribuye espacio entre elementos */
    overflow: hidden; /* Evita que el contenido se desborde */
}
.card-content h3 {
    margin: 10px 0; /* Espacio arriba y abajo del título */
}

.card-content p {
    margin: 10px 0; /* Espacio arriba y abajo de la descripción */
}
.price {
   font-weight: bold; /* Hace que el precio sea más destacado */
    margin-top: auto; /* Asegura que el precio esté al final del contenido */
    margin: 5px 0; /* Espacio arriba y abajo del precio */

}

.ver-button {
    position: absolute; /* Para que se posicione en la esquina */
    bottom: 10px; /* Espaciado desde abajo */
    right: 10px; /* Espaciado desde la derecha */
    padding: 10px 15px;
    background-color: #c83f46;
    color: #000000;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    
}

.ver-button:hover {
    background-color: #fbff00; /* Color de fondo al pasar el ratón */
}

@media (max-width: 768px) {
    .card-horizontal {
        width: calc(50% - 20px); /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .card-horizontal {
        width: 100%; /* Una columna en pantallas pequeñas */
    }
}